#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.carousel {
  position: absolute;
  top: 50px;
  left: 210px;
  width: 80%;
  height: 250px;
  overflow: hidden;
}

.carousel-item {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item img {
  width: 100%;
  height: 250px;
  /* height: 100%; */
  flex-shrink: 0;
}

.interestCircles {
  position: absolute;
  top: 300px;
  left: 250px;
  height: 500px;
  overflow: auto;
  text-align: left;
}

.circle-container {
  position:relative;
  top: 20px;
  border: 1px solid black;
  width: 780px;
  height: 100px;
  margin: 20px;
}

.circle-avatar {
  width: 75px;
  height: 75px;
  margin: 10px;
  cursor: pointer;
  background-color: black;
}

.circle-name {
  position: relative;
  font-size: 20px;
  left: 100px;
  top: -90px;
  font-family: "font2", sans-serif;
}

.circle-users {
  position: relative;
  font-size: 14px;
  left: 100px;
  top: -85px;
  font-family: "font2", sans-serif;
}

.join-circle {
  position: relative;
  font-size: 16px;
  left: 700px;
  top: -100px;
  color: white;
  background-color: rgb(243, 186, 182);
  cursor: pointer;
  font-family: "font2", sans-serif;
}
.join-circle:hover {
  background-color: #ab91a4;
  transform: scale(0.9);
}