.masonry {
    position: relative;
    top: 20px;
    left: 100px;
}

.masonry-item {
    border: 1px solid #ccc;
    cursor: pointer; /* 添加这一行 */
}

.masonry-item img {
    width: 350px;
    /* 根据需要调整图片宽度 */
    height: auto;
    /* 保持图片比例 */
    margin-bottom: 8px;
    /* 图片与标题之间的间距 */
    margin-top: 0;
}

.masonry-item h {
    font-size: 22px;
    /* 标题字体大小 */
    margin: 10px;
    /* 重置标题的 margin */
}

.masonry-item p {
    font-size: 18px;
    /* 摘要字体大小 */
    margin: 0;
    /* 重置摘要的 margin */
    text-align: right;
    color: #999;
}