.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    max-width: 100%;
    height: 500px;
  }

  /* .welcome {
    width:100%;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 60px;
  } */

  .welcome-text {
    position: relative;
    margin-top: 40px;
    width: 100%;
    font-size: 24px;
  }

  .admin-name {
    background-image: url('src/assets/admin-name.png');
    background-position: 1px center;
    background-repeat: no-repeat;
    width: 70%;
    padding: 8px 25px;
    margin-top: 40px;
    margin-left: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }

  .admin-password {
    background-image: url('src/assets/admin-password.png');
    background-position: 1px center;
    background-repeat: no-repeat;
    width: 70%;
    padding: 8px 25px;
    margin-top: 8px;
    margin-left: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }

  
  .privacy-consent input{
    position: relative;
    top: 24px;
    right: 155px;
  }
  .privacy-consent label {
    display: block;    
    margin-bottom: 5px;
  }

  .login-button {
    background-color: #646cff;
    width: 70%;
    margin-top: 20px;
    color: white;
    padding: 6px 120px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    position: inherit;
  }

  .login-button:hover {
    background-color: #535bf2;
  }

  .forget-password-button {
    background-color: transparent;
    color: #7b7b7d;
    margin-right: 120px;
    padding: 6px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    outline: none;
    position: relative;
    top: 10px;
    right: 60px;
  }
  
  .register-button {
    background-color: transparent;
    color: #646cff;
    padding: 6px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    position: relative;
    outline: none;
    top: 10px;
    left: 60px;
    
  }
  
  .close-button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: inherit;
    margin-left: 400px;
  }