.myinterestCircles {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 390px;
    height: 600px;
    overflow: auto;
    text-align: left;
    border: 1px solid black;
    font-family: "font2", sans-serif;
}

.mycircle-title {
    text-align: center;
    font-size: 20px;
}

.mycircle-container {
    position: relative;
    /* top: 10px; */
    border: 1px solid black;
    width: 350px;
    height: 100px;
    margin: 20px;
    transition: all 0.3s ease;
}

.mycircle-container.expanded {
    /* 扩大后的样式 */
    height: 500px;
}

.circle-owner {
    position: relative;
    top: -35px;
    padding: 5px;
    font-size: 16px;
    color: #8a8a8a;
}

.circle-intro {
    position: relative;
    top: -25px;
    /* left: 10px; */
    font-size: 18px;
    padding: 5px;
    border-bottom: 1px solid black;
}

.experience-item {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 18px;
}

.user-in-circle {
    position: relative;
    top: -5px;
    left: 10px;
}

.exp-in-circle {
    position: relative;
    top: -30px;
    left: -20px;
    text-align: right ;
}

.mycircle-avatar {
    width: 75px;
    height: 75px;
    margin: 10px;
    cursor: pointer;
    background-color: black;
}

.mycircle-name {
    position: relative;
    font-size: 20px;
    left: 100px;
    top: -90px;
}

.mycircle-users {
    position: relative;
    font-size: 14px;
    left: 100px;
    top: -85px;
}

.detail-button {
    position: relative;
    left: 220px;
    top: -80px;
    width: 100px;
    height: 30px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid black;
    color: white;
    background-color: rgb(243, 186, 182);
}
.detail-button:hover {
    background-color: #beb4be;
    transform: scale(0.9);
}

.createCircleContainer {
    position: absolute;
    top: 50px;
    right: 80px;
    width: 350px;
    height: 600px;
    text-align: left;
    border: 1px solid black;
    font-family: "font1", sans-serif;
}

.createTitle{
    text-align: center;
    font-size: 20px;
}

.createRule {
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 14px;
    width: 300px;
    height: 300px;
    overflow: auto;
    border: 1px solid black;
}

.inputCircleName {
    position: relative;
    top: 25px;
    left: 70px;
    width: 180px;
    height: 30px;
    border: none;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;
}

.inputCircleAvatar {
    display: none;
}

.circleAvatarWrapper {
    position: relative;
    top: 45px;
    left: 16px;
    width: 100px;
    height: 100px;
    background-image: url('http://127.0.0.1:3000/add_image.svg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 2px solid #dfdcdc;
    /* 添加边框 */
    border-radius: 5px;
    /* 可选：添加圆角 */
    box-shadow: 0 4px 8px rgba(219, 218, 218, 0.1);
    /* 可选：添加阴影 */
    z-index: 2;
}

.inputCircleIntro {
    position: relative;
    top: -30px;
    left: 65px;
    width: 200px;
    height: 100px;
    /* border: 1px solid black; */
    padding: 5px;
}

.inputCircleIntro textarea {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    padding: 5px;
}

.createCircle {
    position: relative;
    left: 20px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
    color: white;
    background-color: rgb(243, 186, 182);
    border-bottom: 1px solid black;
}
.createCircle:hover {
    background-color: #beb4be;
    transform: scale(0.9);
}