
.test_img {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 140px;
    height: 100px;
    border-radius: 10px;
    background-size: cover;
}

.add_img {
    position: absolute;
    background-color:whitesmoke;
    top: 50px;
    left: 420px;
    width: 140px;
    height: 100px;
    border-radius: 10px;
    background-size: cover;
}

.title_input {
    position: absolute;
    top: 165px;
    left: 250px;
    width: 700px;
    height: 30px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid black;
}

.content_input {
    position: absolute;
    top: 200px;
    left: 250px;
    width: 700px;
    height: 300px;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    text-align: left;
    resize: none;
}
.title_input::placeholder {
    font-size: 20px;
}

.content_input::placeholder {
    font-size: 15px;
    text-align: left;
}


.tags {
    position: fixed;
    top: 280px;
    left: 2px;
    font-size: 20px;
  }

  .tags h2 {
    background-image: url('./assets/tags.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    margin-left: 8px;
    font-size: 20px;
    padding-left: 30px;
  }

  .tag {
    margin: 5px;
    padding: 5px 10px; /* 调整标签按钮的内边距 */
    font-size: 10px; /* 调整标签按钮的字体大小 */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.tag.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.atfriends {
  position: fixed;
  top: 370px;
  left: 2px;
  font-size: 20px;
}

.atfriends button{
  margin: 5px;
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.publish-button button{
  position: fixed;
  top: 450px;
  left: 2px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.draft-button button{
  position: fixed;
  top: 450px;
  left: 100px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}