.image-input {
  display: none;
}

.image-input-wrapper {
  position: absolute;
  top: 50px;
  left: 250px;
  width: 100px;
  height: 100px;
  background-image: url('http://127.0.0.1:3000/add_image.svg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 2px solid #dfdcdc;
  /* 添加边框 */
  border-radius: 5px;
  /* 可选：添加圆角 */
  box-shadow: 0 4px 8px rgba(219, 218, 218, 0.1);
  /* 可选：添加阴影 */
  z-index: 2;
}

.image-previews {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  top: 50px;
  left: 250px;
  z-index: 1;
}

.image-preview-wrapper {
  position: relative;
  display: inline-block;
}

.image_preview {
  width: 100px; /* 固定宽度 */
  height: 100px; /* 固定高度 */
  border: 2px solid #dfdcdc;
  /* 添加边框 */
  border-radius: 5px;
  /* 可选：添加圆角 */
  box-shadow: 0 4px 8px rgba(219, 218, 218, 0.1);
  /* 可选：添加阴影 */
  z-index: 1;
  cursor: pointer;
}

.remove-image {
  position: absolute;
  top: 2px;
  right: 2px;
  color: white;
  background-color: rgb(56, 62, 46);
  border-radius: 50%;
  padding: 1px 3px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
}

/* 模态框背景 */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* 模态框内容 */
.modal-content {
  max-width: 90%;
  max-height: 90%;
  object-fit : contain;
}

/* 关闭按钮 */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.title_input {
  position: absolute;
  top: 165px;
  left: 250px;
  width: 700px;
  height: 30px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid black;
}

.content_input {
  position: absolute;
  top: 200px;
  left: 250px;
  width: 700px;
  height: 300px;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  text-align: left;
  resize: none;
}

.title_input::placeholder {
  font-size: 20px;
}

.content_input::placeholder {
  font-size: 15px;
  text-align: left;
}


.tags {
  position: fixed;
  top: 280px;
  left: 5px;
  width: 150px;
  flex-direction: column;
  align-items: flex-start; /* 可选：如果你想让按钮左对齐 */
  border-top: 1px solid black;
}

.tags-container {
  max-height: 200px; /* 设置容器的最大高度 */
  overflow-y: auto; /* 启用垂直滚动条 */
  width: 100%; /* 确保滚动容器占满父容器宽度 */
}


.tags h2 {
  background-image: url('http://127.0.0.1:3000/tags.png');
  background-size: contain;
  background-repeat: no-repeat;
  text-align: left;
  margin-left: 8px;
  font-size: 20px;
  padding-left: 30px;
}

.tag {
  width: 70%; /* 可选：让按钮占满容器的宽度 */
  /* padding: 10px;  */
  text-align: left; /* 可选：让按钮文本左对齐 */
  font-size: 14px;/* 调整标签按钮的字体大小 */
  margin: 5px 0; /* 可选：设置按钮的外边距 */
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.tag.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}



.publish-button button {
  position: fixed;
  top: 450px;
  right: 10px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
