.side-nav {
    background-color: #d5cee1;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 18%;
    height: 100%;
    left: 0px;
    padding-top: 20px;
  }
  
  .home{
    background-image: url('src/assets/home.png');
    background-position: 1px center;
    background-repeat: no-repeat;
    background-color: #b1a9c1;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    position: relative;
    top: 60px;
    left: 10px;
    height: 33px;
    width: 18px;
    font-size: 0;
    transition: all 0.3s;
  }
  
  .home:hover{
    width: 160px;
    font-size: 12px;
  }
  
  .my-interest{
    background-image: url('src/assets/my-interest.png');
    background-position: 1px center;
    background-repeat: no-repeat;
    background-color: #b1a9c1;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    position: relative;
    top: 80px;
    left: 10px;
    height: 33px;
    width: 18px;
    font-size: 0;
    transition: all 0.3s;
  }
  
  .my-interest:hover{
    width: 160px;
    font-size: 12px;
  }
  
  .explore{
    background-image: url('src/assets/explore.png');
    background-position: 1px center;
    background-repeat: no-repeat;
    background-color: #b1a9c1;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    position: relative;
    top: 100px;
    left: 10px;
    height: 33px;
    width: 18px;
    font-size: 0;
    transition: all 0.3s;
  }
  
  .explore:hover{
    width: 160px;
    font-size: 12px;
  }
  
  .publish{
    background-image: url('src/assets/publish.png');
    background-position: 1px center;
    background-repeat: no-repeat;
    background-color: #b1a9c1;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    position: relative;
    top: 120px;
    left: 10px;
    height: 33px;
    width: 18px;
    font-size: 0;
    transition: all 0.3s;
  }
  .publish:hover{
    width: 160px;
    font-size: 12px;
  }
  
  .title {
    position: fixed;
    top: 30px;
    left: 10px;
    font-size: 30px;
  }


  